/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 240; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 35%, 38%, 1);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --nav-color: hsl(var(--hue-color), 37%, 89%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --nav-color: hsl(var(--hue-color), 37%, 99%);

    /*========== Font and typography ==========*/
    --body-font: 'Barlow', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--nav-color);
  border: 1px #000;
  box-shadow: 1px 1px 3px 2px rgb(36 41 46 / 10%);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--first-color-lighter);
}

.nav_logo,
.nav_toggle{
  color: var(--first-color);
  font-weight: bold;
}

.nav_logo{
  max-width: 4rem;
}

.nav_logo:hover{
  scale: 1.1;
}

.nav_toggle{
  font-size: 1.1rem;
}

.nav_toggle:hover{
  color: var(--container-color);
}

@media screen and (max-width: 767px) {
  .nav_menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 0rem 1.5rem 2rem;
    border: 1px #000;
    box-shadow: 1px 1px 3px 2px rgb(36 41 46 / 10%);
    border-radius:  0 0 1.5rem 1.5rem;
    transition: ease-in-out .5s;
  }  
}

.nav_list{
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
  margin-top: var(--mb-2);
}

.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_icon{
  font-size: 1.2rem;
}

.nav_close{
  position: absolute;
  right: 1.3rem;
  top: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav_close{
  color: var(--first-color-alt);
}

/* show menu */
.show-menu{
  top: var(--header-height);
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home{
  width: 100vw;
height: 100%;
background: rgb(102,102,153);
background: linear-gradient(222deg, rgba(102,102,153,1) 0%, rgba(1,124,165,1) 32%, rgba(62,62,130,1) 66%, rgba(62,62,130,1) 100%);
}

.home_container{
  gap: 1rem;
}

.home_content{
display: grid;
  padding-top: 3.5rem;
  align-items: center;
}

.home_img{
  display: flex;
  width: 12rem;
  order: 2;
  bottom: 0;
}



/*==================== BUTTONS ====================*/
/* border: 1px solid rgba(255,103,47,.31);
border-radius: 0.5rem;
background-color: #ff672f; */

/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */
